/*
*, *:before, *:after {
  box-sizing: border-box;
}
*/
body{
  font-size: 16px;
  font-family: 'PT Sans', Verdana, Arial, sans-serif;
  line-height: 1.2em;
  background-color: #efefef;
}

h1 {
  font-size: 1.5em;
  font-weight:normal;
  color: #FFFFFF;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

h2 {
  font-size: 1em;
  margin-bottom: 5px;
  padding-bottom: 10px;
  display: inline;
}

h2.line {
  font-weight: bold;
}

h2.direction {
  float: right;
  vertical-align: top;
}

h2.not-running {
  float: right;
  color: red;
  font-weight: bold;
}

h3 {
    font-size: .75em;
    font-weight: bold;
    color: #6D6D6D;
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

p {
  display: inline-block;
}

ul {
  height: auto;
  display: inline-block;
  line-height: 2em;
  font-size: .8em;
}

.routes {
  display:block;
  vertical-align: top;
  border: 2px solid #FFFFFF;
  border-radius: 3px;
  box-shadow: 0px 2px 5px 0px #adadad;
  padding: 15px;
  margin: 5px 0px;
  background-color: #FFFFFF;
}

.icon {
  max-height: 10px;
  max-width: 10px;
  background-color: #01579B;
  padding: 3px;
  border-radius: 2px;
  display: inline;
  vertical-align: text-bottom;
}

.map {
  width: 100%;
}

.system-icon {
  float: right;
  margin: 10px;
  display: block;
}

.app-bar {
  background-color: #01579B;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 2px 5px 0px #adadad;
}

#navigation {
  float: right;
  margin: 10px;
  box-shadow: 0px;
  width: 25px;
}

#menu {
  margin: 10px;
  box-shadow: 0px;
  width: 25px;
}
